.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.game {
  max-width: 600px;
  margin: 5% auto;
}
.grid {
  border: thin solid gray;
  line-height: 0;
}
.cell {
  border: thin solid gray;
  display: inline-block;
  height: 80px;
  max-height: 15vh;
}
.message {
  float: left;
  color: #666;
  margin-top: 1rem;
}
.button {
  float: right;
  margin-top: 1rem;
}
